
<body>
    <!--<div class="card-body">-->

        <div class="mt-4">

            <div class="card">

                <app-price [curr]=id></app-price>


        <div class="row">
            <div class="col-md-5">
                <app-tweets [curr]=id></app-tweets>
            </div>
            <div class="col-md-7">
<app-bar [curr]=id></app-bar>
             <app-bidask [curr]=id></app-bidask>
                <app-pie [curr]=id></app-pie>
                <app-wordcloud [curr]=id></app-wordcloud>
            </div>
        </div>



            </div>


        </div>
    <!--</div>-->

</body>
